<!doctype html>
<html lang="en" ng-app="interventionsApp">
  <head>
    <meta charset="utf-8">
    <title>GMAO App</title>
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="lib/angular/angular.js"></script>
    <script src="interventions-list/interventions-list-module.js"></script>
  </head>
  
  <body ng-controller="interventionsController">
    <div class="container w-75">
      <!-- Header -->
      <nav class="navbar navbar-light bg-light mb-3">
        <button type="button" class="btn btn-nautilux navbar-btn" ng-click="displayModal(undefined)">Nouvelle intervention</button>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ordre
          </button>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item" ng-click="sortBy(true)">Le plus récent</a>
            <a href="#" class="dropdown-item" ng-click="sortBy(false)">Le plus ancien</a>
          </div>
        </div>
      </nav>

      <!-- Interventions list -->
      <div class="container">
        <div class="content-box row" ng-repeat="intervention in interventionsList" id="{{ intervention.id }}">
          <div class='col-lg-12'>
            <p>{{ intervention.label }}</p>
            <p>{{ intervention.description }}</p>
            <p class="m-0">Intervenant : {{ intervention.technician }}</p>
            <p class="m-0">Lieu : {{ intervention.location }}</p>
            <p>Date : {{ intervention.date | date : "dd.MM.y" }}</p>
            <p class="m-0">Statut : {{ getStatus(intervention.status) }}</p>
            <div class="btn-box float-right">
              <button class="btn btn-light" ng-click="displayModal(intervention.id)" ng-disabled="intervention.status === 'c'">Modifier</button>
              <button class="btn btn-danger" ng-click="delete(intervention.id)">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal form -->
    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ isNew ? 'Créer une intervention' : 'Modifier une intervention'}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="label">Titre</label>
                <input type="text" class="form-control" ng-model="currentIntervention.label" required>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea rows="5" class="form-control" ng-model="currentIntervention.description" required></textarea>
              </div>
              <div class="form-group">
                <label for="technician">Technicien</label>
                <input type="text" class="form-control" ng-model="currentIntervention.technician">
              </div>
              <div class="form-group">
                <label for="label">Lieu</label>
                <input type="text" class="form-control" ng-model="currentIntervention.location" required>
              </div>
              <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" ng-model="currentIntervention.date">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-nautilux" type="button" ng-click="createOrEdit()">{{ isNew ? 'Créer' : 'Modifier' }}</button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
          </div>
        </div>
      </div>
    </div>

    <!-- JS for Bootstrap 4 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
