<!doctype html>
<html lang="en" ng-app="interventionsApp">
  <head>
    <meta charset="utf-8">
    <title>GMAO App</title>
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="interventions-list/interventions-list-module.js"></script>
  </head>
  
  <body ng-controller="interventionsController">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ordre <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="sortBy(true)">Le plus récent</a></li>
                <li><a href="#" ng-click="sortBy(false)">Le plus ancien</a></li>
              </ul>
            </div>
            <button type="button" class="btn btn-primary navbar-btn" ng-click="displayModal(undefined)">Nouvelle intervention</button>
          </div>
        </div>
      </nav>

      <!-- Interventions list -->
      <div class="container-fluid">
        <div class="content-box row" ng-repeat="intervention in interventionsList" id="{{ intervention.id }}">
          <div class='col-lg-12'>
            <p>Titre : {{ intervention.label }}</p>
            <p>{{ intervention.description }}</p>
            <p>Intervenant : {{ intervention.technician }}</p>
            <p>Lieu : {{ intervention.location }}</p>
            <p>Date : {{ intervention.date | date : "dd.MM.y" }}</p>
            <div class="btn-box pull-right">
              <button class="btn btn-default" ng-click="displayModal(intervention.id)">Modifier</button>
              <button class="btn btn-danger" ng-click="delete(intervention.id)">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal form -->
    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ currentIntervention.label ? 'Modifier une intervention' : 'Créer une intervention'}}
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="label">Titre</label>
                <input type="text" class="form-control" ng-model="currentIntervention.label" required>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea rows="5" class="form-control" ng-model="currentIntervention.description" required></textarea>
              </div>
              <div class="form-group">
                <label for="technician">Technicien</label>
                <input type="text" class="form-control" ng-model="currentIntervention.technician">
              </div>
              <div class="form-group">
                <label for="label">Lieu</label>
                <input type="text" class="form-control" ng-model="currentIntervention.location" required>
              </div>
              <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" ng-model="currentIntervention.date">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="createOrEdit()">{{ currentIntervention.label ? 'Modifier' : 'Créer' }}</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
